[submodule "submodules/DNT-DepLib4"]
	path = submodules/DNT-DepLib4
	url = https://github.com/dnobori/DNT-DepLib4.git
[submodule "submodules/DNT-DepLib1"]
	path = submodules/DNT-DepLib1
	url = https://github.com/dnobori/DNT-DepLib1.git
